*.env
*.venv
*.pem
*.key
*.crt
styles.css
__pycache__
*.pyc
*.cache
django/static/admin
migrations
node_modules
*.next
next-env.d.ts
package-lock.json
cdk.out
staticfiles
nextjs/package-lock.json
cdk/cdk.context.json