# misc
*.env
*.log
*key.json
*.pem
*.key
*.crt

# py
*.venv
__pycache__
*.pyc
*.cache
web/static
staticfile

# next
node_modules
*.next
next-env.d.ts
**/sw.js
**/workbox-*.js



# tf
.terraform
*.tfstate*
*.lock*


# cdk
cdk.out
cdk/cdk.context.json
*.out

# celery
celerybeat-schedule
redbeat.ReadBeatScheduler
