# misc
*.env
*.log
*key.json
*.pem
*.key
*.crt
*.tgz

# django
*.venv
__pycache__
*.pyc
*.cache
static
staticfile

# nextjs
node_modules
*.next
next-env.d.ts
**/sw.js
**/workbox-*.js

# cdk
cdk.out
cdk/cdk.context.json
*.out

# celery
celerybeat-schedule
redbeat.ReadBeatScheduler
