celery-redbeat==2.2.0
channels==4.2.0
daphne==4.1.2
django-celery-beat==2.7.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==24.3
django-google-spanner==4.0.1
django-redis==5.4.0
django-structlog==9.0.1
drf-spectacular==0.27.2
google-cloud-pubsub==2.28.0
pillow==11.1.0
prometheus_client==0.21.1
psutil==5.9.8
psycopg2-binary==2.9.10
pydantic==2.10.6
PyJWT==2.10.1
pyOpenSSL==24.3.0
python-decouple==3.8
pytz==2025.1
sentry-sdk==2.22.0
service-identity==24.2.0
user-agents==2.2.0
